<div class="flex flex-col items-center justify-center">
    <h1 class="text-5xl font-medium pt-20">A personal chef is just clicks away</h1>
    <h3 class="text-3xl font-thin py-10">For special occasions or everyday occasions</h3>
    <button class="px-10 py-3 bg-red-100 rounded-xl text-lg text-white mb-20" [routerLink]="['/chefs']">Explore all chefs</button>
</div>
<img src="https://cookingenie.com/assets/images/pages/home/collage.webp" alt="snapshots of cookingenie" class="pb-20 w-full">
<img src="../../../assets/Screenshot 2024-07-28 at 4.01.20 PM.png" alt="" class="w-full">