<footer class="mt-32">
  <svg viewBox="0 0 1440 128">
    <path
      d="M448 0C228.764 0 54.5 30.7284 0 44V128H1440V1.88947e-05C1412 7.64564 1257.54 43 993 43C728.461 43 667.236 0 448 0Z"
      fill="rgb(30, 15, 9)"
    ></path>
  </svg>
  <div class="flex justify-between bg-red-900 -mt-1 pt-5">
    <div id="ppfooterlogo" class="">
      <img
        src="https://cookingenie.com/assets/images/brand/logo_white.svg"
        alt="Planning Poker Agile Logo"
        height="220px"
        width="220px"
        class="ml-14"
      />
    </div>
    <div id="column-container" class="flex">
      <div id="column1" class="px-5 pb-10">
        <h3 class="text-gray-50 text-xl pb-5">Company</h3>
        <ul class="text-zinc-50 text-base">
          <li class="pb-1"><a href="#">Home</a></li>
          <li class="pb-2"><a href="#">About Us</a></li>
          <li class="pb-2"><a href="#">How it works</a></li>
          <li class="pb-2"><a href="#">Safety</a></li>
          <li><a href="#">Become a genie</a></li>
        </ul>
      </div>
      <div id="column2" class="px-5 pb-5">
        <h3 class="text-gray-50 text-xl pb-5">Resources</h3>
        <ul class="text-zinc-50 text-base">
          <li class="pb-2"><a href="#">Blog</a></li>
          <li class="pb-2"><a href="#">FAQ</a></li>
          <li class="pb-2"><a href="#">Gift Cards</a></li>
          <li class="pb-2"><a href="#">Locate us</a></li>
          <li><a href="#">Refer a Friend</a></li>
        </ul>
      </div>
      <div id="column3" class="px-5 pb-5">
        <h3 class="text-gray-50 text-xl pb-5">Contact</h3>
        <ul class="text-zinc-50 text-base">
          <li class="pb-2"><a href="#">(833)-436-4387</a></li>
          <li class="pb-2"><a href="#">Support@cookingenie.com</a></li>
          <li><a href="#">Customer Support</a></li>
        </ul>
      </div>
      <div id="column4" class="px-5 pb-5 mr-5">
        <h3 class="text-gray-50 text-xl pb-5">Follow us</h3>
        <ul class="text-zinc-50 text-base">
          <li class="pb-2"><a href="#">Instagram</a></li>
          <li class="pb-2"><a href="#">Facebook</a></li>
          <li class="pb-2"><a href="#">Pinterest</a></li>
          <li><a href="#">Youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="flex justify-between bg-red-900">
    <div class="text-zinc-50 text-base mb-14 pl-10">Build version: 1.0.0 | CookinGenie@2024. All right reserved</div>
    <div class="text-zinc-50 text-base mb-14 pr-10">Privacy Policy</div>
  </div>
</footer>